:root{
    --fond: #272635;
    --fondJoueur:pink;
    --fondCpu:yellow;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
}

.fondFormulaire{
    position: absolute;
    background-color: var(--fond);
    width: 100%;
    height: 100%;
}
.boxFormulaire{
    width: 280px;
    border-radius: 20px;
    background-color: #F0BCD4;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.none{
    display: none;
}

.formulaire{
    padding: 20px;
}

.nomTexte{
    height: 40px;
    border-radius: 20px;
    border: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.radio{
    display: flex;
    justify-content: space-around;
}

.armes{
    height: 40px;
    border-radius: 20px;
    border: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    appearance: none;
}

.jouer{
    height: 40px;
    border-radius: 20px;
    background-color: white;
    width: 100%;
}

.boxGame{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.joueur{
    height: 100%;
    width: 50%;
    background-color: var(--fondJoueur);
    position: absolute;
}

.cpu{
    height: 100%;
    width: 50%;
    background-color: var(--fondCpu);
    position: absolute;
    right: 0;
}

.nomJoueur{
    position: absolute;
    font-size: 50px;
    top: 10%;
    left: 35%;
    color: white;
}

.nomCpu{
    position: absolute;
    font-size: 50px;
    top: 10%;
    left: 40%;
    color: white;
}

.emoji{
    font-size: 100px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.emojiJoueur{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 38%;
}

.emojiCpu{
    margin: 0;
    position: absolute;
    top: 30%;
    right: 42%;
}


.resultat{
    position: absolute;
    font-size: 50px;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.rejouer{
    height: 40px;
    border-radius: 20px;
    background-color: white;
    border: 0;
    width: 200px;
    position: absolute;
    font-size: 20px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}